body{
    padding-top: 56px;
}
.jumbotron{
    background: url("yves-alarie-BXk-N2fPLYo-unsplash.jpg") no-repeat center;
    height: 500px;
}
h1{
    font-family: 'oi', cursive;
   padding-top: 150px;
}
.btnh{
    background-color: black;
}
.btn-primary {
    background-color: black;
    border-color: #D5A021;
    outline-color: #D5A021;
    font-weight: bolder;
  }
  .navbar-brand{
    font-weight: 900;
  }
  .nav-link{
      font-weight: 900;
  }
  .navimi{
      border-radius: 80%;
  }
  .card-img-top{
      height: 200px;
  }
  h2{
      font-family:'oi', cursive ;
      color: #ffc107;
  }
  h4{
      color:#ffc107 ;
  }
  
  h3{
    color: #ffc107;
  } 
  .giphy1{
      height: 200px;
      width: 300px;
 }

    
}
 .slidin{
    display: block;
    margin-left: auto;
    margin-right: auto;

}